<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="flex flex-col gap-3 w-full max-w-sm"
>
  <app-form-field
    [label]="'LOGIN.EMAIL' | translate"
    placeholder="usuario@correo.com"
    type="email"
    [control]="getControl('username')"
  ></app-form-field>

  <app-form-field
    [label]="'LOGIN.PASSWORD' | translate"
    placeholder="Tu contraseña"
    type="password"
    [control]="getControl('password')"
  ></app-form-field>

  <app-button [label]="submitLabel" color="primary" type="submit"></app-button>

  <a
    (click)="forgotPassword.emit()"
    class="text-sm text-blue-600 hover:underline text-center cursor-pointer"
  >
    {{ 'LOGIN.FORGOT' | translate }}
  </a>
</form>

